<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Not Found</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div style="padding: 2em; margin-top: 5em">
            <div class="d-flex justify-content-around">
                <img class="width" src=/imgs/sorryImg.png alt="404 not found"> <img class="width" src=/imgs/sorryImg.png
                alt="404 not found"> <img class="width" src=/imgs/sorryImg.png alt="404 not found">
            </div>

            <h1>Sorry!</h1>
            <h2>Houston, we have a 404 problem!</h2>
            <p>The resources you have requested does not exist.</p>
            <div>
                <p>
                    While you're wondering what's wrong, try this
                    <span style="font-size: 2em">
                        <a href="https://fighters-oop.vercel.app/">GAME</a>
                    </span>
                    i've built.
                </p>
            </div>
        </div>
    </body>
</html>
